#myBtn {
    width: 150px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    color: #000;
    background-color: #faa200;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
}

#myBtn:hover {
    background-color: #fff;
    color: #faa200;
}
body {
    margin: 20px;
}