* {
    border: none;
    outline: none;
    font-family: 'Raleway', sans-serif, 'Sarala', sans-serif, 'Arial', sans-serif;
}
#myBtn {
    width: 150px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    color: #000;
    background-color: #faa200;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
}

#myBtn:hover {
    background-color: #fff;
    color: #faa200;
}
body {
    margin: 20px;
}
.h2 {
    font-size: 22px;
}